*.class

# Package Files #
*.jar
*.war
*.ear

# Personal info
*.pdf
comprimir.sh

# Archivos finales
P4/Diagrama.png
P4/Entrega/

# Proyectos con NetBeans
**/build
**/dist
**/nbproject/private

# Código sin derechos
P3/example/**
P3/serpiente/**
P3/Netbeans Test/**
P4/Tests/
P4/script
/P5/Figuras/nbproject/private/
/P5/Figuras/build/
/P5/Figuras/dist/
